[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cowplot"]
	path = cowplot
	url = https://github.com/wilkelab/cowplot
[submodule "ggridges"]
	path = ggridges
	url = https://github.com/wilkelab/ggridges
[submodule "ggtext"]
	path = ggtext
	url = https://github.com/wilkelab/ggtext
[submodule "gridtext"]
	path = gridtext
	url = https://github.com/wilkelab/gridtext
[submodule "sicegar"]
	path = sicegar
	url = https://github.com/wilkelab/sicegar
